.git
.gitignore
.dockerignore
.env
.env.*

frontend/node_modules
frontend/dist
frontend/vite-*.log

backend/__pycache__
inference/__pycache__
**/__pycache__
**/*.pyc

training_dataset
datasets
raw
runs
wandb
mlruns

data
logs
tmp
temp

*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.log
